<%- include('partials/header') %> 
<body class="text-center">
    
    <main class="form-signin w-100 m-auto">
    <form method="post" action="/signup">
      <img class="mb-4" src="/img/7th wave.png" alt="" width="180px" height="180px">
      <h1 class="h3 mb-3 fw-normal">Sign up</h1>
  
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="input1">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="input2">
        <label for="floatingPassword">Password</label>
      </div>
  
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" style="background-color: rgb(207, 31, 31); border-color: red;" type="submit" name="button">Sign up</button>
<%- include('partials/footer') %> 